// Styles brochure site
.brochure-header {
    background: $color-background-secondary;
    height: 80px;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 100;

    .navbar {
        border-bottom: 0 none;
        box-shadow: none;
        max-width: $break-extra-large;
        margin: 0 auto;

        @include media-breakpoint-down(lg) {
            align-content: space-between;
            padding: 0;
        }
        .navbar-brand {
            #DMRLogo {
                height: 70px;
                .st0 {
                    fill: #231f20;
                }
                .st1 {
                    fill: #51a39d;
                }
            }
        }

        @include media-breakpoint-down(lg) {
            .navbar-toggler {
                background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
                background-repeat: no-repeat;
                padding-right: 0;

                &:focus {
                    outline: none;
                }
            }
        }
        .navbar-nav {
            .nav-item {
                padding: 0 10px;

                a {
                    color: $color-black;
                    font-size: 1rem;
                    font-weight: 700;
                }

                .btn-primary {
                    background: $color-text-blue;
                    border: 0 none;
                    color: $color-text-white;
                    margin-left: auto;
                }
            }
        }
        .navbar-collapse {
            .navbar-nav {
                display: flex;
                text-align: right;
                @include media-breakpoint-down(md) {
                    background: $color-background-primary;
                    padding-bottom: 1rem;

                    .nav-item {
                        background: $color-background-primary;
                        border-bottom: 1px solid #ccc;

                        &:first-of-type {
                            border-top: 1px solid #ccc;
                        }
                        &:last-of-type,
                        &:nth-child(3) {
                            border-bottom: 0 none;
                        }
                    }
                }
            }
        }
    }
} //end brochure-header

.brochure-footer {
    background: #213a59;
    color: $color-text-white;
    padding-top: 30px;

    .row {
        justify-content: space-between;

        &:first-of-type {
            margin-bottom: 20px;
            padding-bottom: 10px;
        }
        &:last-of-type {
            padding-bottom: 25px;
        }
        @include media-breakpoint-down(md) {
            padding: 0;
        }
        @include media-breakpoint-down(sm) {
            margin: 0;
            max-width: 100%;

            &:last-of-type {
                ul {
                    justify-content: flex-start;

                    li {
                        margin-top: 15px;
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
    }

    img {
        max-width: 25%;
        margin-bottom: 10px;

        @include media-breakpoint-down(md) {
            max-width: 100%;
        }
    }
    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 0.8rem;

        @include media-breakpoint-down(sm) {
            flex-wrap: wrap;
        }

        &.footer-nav {
            width: 75%;
            @include media-breakpoint-up(md) {
                // max-width: 50%;
            }
            @include media-breakpoint-down(sm) {
                width: 100%;
                margin-top: 25px;

                li {
                    padding: 5px 0;
                    width: 100%;
                }
            }
            @include media-breakpoint-up(sm) {
                li {
                    padding: 0 5px;
                }
            }
        }
    }
    a {
        color: $color-text-white;
        font-size: 0.8rem;
        padding: 0;

        &:hover {
            text-decoration: none;
        }
    }
    @include media-breakpoint-up(md) {
        .col-9 {
            max-width: 50%;
        }
    }
    @include media-breakpoint-down(md) {
        .col-9 {
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
        }
    }
    @include media-breakpoint-down(sm) {
        .col-8 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    @include media-breakpoint-down(xs) {
        .col-8 {
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0;
        }
    }
    .contact {
        display: flex;
        flex-direction: column;

        ul {
            display: flex;
            flex-direction: column;
        }
        @include media-breakpoint-down(sm) {
            margin-top: 62px;
            flex: 0 0 50%;
            max-width: 50%;
        }
        @include media-breakpoint-down(xs) {
            margin-top: 25px;
            padding: 0;
        }

        h3 {
            font-size: 1rem;
            margin-bottom: 25px;

            @include media-breakpoint-down(sm) {
                margin-bottom: 5px;
            }
        }
        a {
            display: block;
            margin-bottom: 10px;
        }
    }
    .social {
        display: flex;
        justify-content: space-between;

        @include media-breakpoint-up(lg) {
            padding-right: 0;
        }
        @include media-breakpoint-up(md) {
            max-width: 10%;
        }
        @include media-breakpoint-down(md) {
            max-width: 15%;
            margin-top: 20px;
            flex: 0 0 15%;
            width: 15%;
        }
        @include media-breakpoint-down(sm) {
            justify-content: space-around;
            margin-top: 30px;
            flex: 0 0 100%;
            max-width: 100%;
        }

        ul {
            @include media-breakpoint-up(sm) {
                width: 100%;
            }
            @include media-breakpoint-down(sm) {
                flex-wrap: nowrap;
                width: 100%;
                svg {
                    height: 1.3rem;
                    width: 1.3rem;
                }
            }
            a {
                font-size: 1rem;
            }
        }
    }
} //end brochure-footer

.page-hero {
    min-height: 420px;
    background-position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-weight: bold;
        color: $color-text-white;
        text-align: center;
    }
}
