.deal-details {
    &__header {
        margin-top: 1rem;
    }
    &__deal-content {
        border-top: 1px solid $color-grey;
        padding: 15px;
    }

    &__deal-content-header {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $color-grey;
        font-size: medium;
        margin-bottom: 0.5em;
        padding-bottom: 0.5em;

        @include media-breakpoint-up(sm) {
            flex-direction: row;
        }
    }

    &__deal-content-color {
        font-size: 0.9rem;
        @include media-breakpoint-up(sm) {
            margin-left: auto;
        }
    }

    &__deal-content-body {
        display: flex;

        > div {
            flex-grow: 1;
            flex-basis: 0;
        }
    }

    &__deal-content-features {
        font-size: small;
        margin: 0 0 3px 0;
        padding: 0 15px;
    }

    &__deal-content-see-all {
        color: $color-blue;
        display: block;
        font-size: 0.75rem;
        font-weight: bold;
        margin-bottom: 0.75rem;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            text-decoration: underline;
        }
    }

    &__deal-content-subtitle {
        font-size: small;
        padding-top: 10px;
        text-decoration: underline;
    }

    &__title {
        color: $text-color-dark;
        margin-top: 10px;
    }

    &__title-year-make {
        font-size: 1.2rem;
    }

    &__title-model-trim {
        font-size: 1.8rem;
        font-weight: bold;
        margin-top: -10px;
    }

    &__stock-number {
        display: flex;
        font-size: 1.2rem;
        font-weight: bold;
        span {
            @include media-breakpoint-up(sm) {
                font-size: 1.8rem;
                margin-top: auto;
                margin-left: auto;
            }
        }
    }

    &__pricing {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 1rem;
        > div {
            width: 100%;
        }
        @include media-breakpoint-up(sm) {
            margin-top: 0;
        }

        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }

        .info-modal-data {
            margin: 0;
            max-width: none;
            min-width: 0;
            @include media-breakpoint-up(sm) {
                width: auto;
            }
        }

        .form-check,
        .form-group > div {
            align-content: center;
            display: flex;
            justify-content: space-between;
            padding-left: 0;

            label {
                input {
                    font-size: 0.9em;
                    margin: 0 5px 0 0;
                    position: relative;
                }
            }
        }
        .eligibility {
            font-style: italic;
            font-size: 0.75em;
            margin-left: 0.25em;
        }
    }

    &__images-and-title {
        @include media-breakpoint-up(lg) {
            flex-direction: row;
            width: $break-large * 0.6;
        }
    }

    &__primary-image {
        margin: 1rem 0;
        width: 100%;
    }

    &__buttons {
        display: flex;
        flex-wrap: nowrap;
    }

    &__button {
        @include button;
        flex: 1;
        margin: 5px;

        &--small {
            font-size: 0.8rem;
            padding: 10px 5px;
        }
    }

    &__modal-body {
        padding: 20px;
    }
}

.no-lease-rates-error {
    padding: 2rem 1rem;
    font-style: italic;
    text-align: center;
    margin-bottom: 0;
}
