.filter-page {
    background: $color-background-secondary;
    display: flex;
    height: 100vh;
    overflow: hidden;
    position: relative;

    @media (min-width: $break-medium) {
        height: calc(100vh - #{$header-height});
    }

    &__top-row {
        border-bottom: 1px solid $color-section-bottom-border;
        padding: 0 20px 0 20px;
        background-color: $color-background-secondary;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        @media (min-width: $break-medium) {
            flex-direction: row;
            padding: 8px 40px 8px 40px;
        }

        &__section {
            margin: 0.5em;
            width: 100%;

            @media (min-width: $break-small) {
                margin-bottom: 1em;
            }

            @media (min-width: $break-medium) {
                margin-bottom: 0;
                width: auto;
            }

            &--tabButtons {
                display: none;
                @media (min-width: $break-small) {
                    display: block;
                }
            }
        }
    }

    &__deals {
        height: 100%;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 20;

        &--small-filters-shown {
            left: $sidebar-filters-width;
        }

        &--small-filters-hidden {
            left: 0;
        }

        &--small {
            transition: left 1s;
        }

        @media (min-width: $break-small) {
            left: $sidebar-filters-width;
            width: calc(100vw - #{$sidebar-filters-width});
        }
    }

    &__filter-panel {
        background-color: $color-sidebar-background-primary;
        height: 100%;
        position: absolute;
        width: $sidebar-filters-width;
        overflow-y: scroll;

        @media (min-width: $break-small) {
            left: 0;
        }

        &--small-filters-shown {
            left: 0;
        }

        &--small-filters-hidden {
            left: -$sidebar-filters-width;
        }

        &--small {
            transition: 1s;
        }
    }

    &__no-results {
        margin: 0 auto;
        padding: 20px;
        width: 115px;
    }
}

.full-page-user-location {
    .zipcode-finder {
        background-color: #efefef;
        border-radius: 4px;
        color: #586368;
        height: auto;
    }
    .zipcode-finder__form {
        color: #586368;
    }
    .zipcode-finder__info {
        justify-content: center;
    }
    .zipcode-finder__zipcode {
        margin: 0;
    }

    .zipcode-finder__button {
        color: #fff;
        background: #41b1ac;
    }
}

.filter-close {
    cursor: pointer;
    padding: 0.75rem;
    text-align: right;

    &__icon {
        cursor: pointer;
        fill: $color-text-white;
        stroke: $color-text-white;
    }
}
