.checkout-confirm {
    &__header {
        margin-top: 1rem;
    }

    .image {
        border: 1px solid #ccc;
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 10px;
        flex-grow: 0;
        img {
            margin: 0;
            padding: 0;
        }
    }
    .title {
        border: 1px solid #ccc;
        border-left: 0;

        .model-and-trim {
            line-height: 1.2em;
            font-size: xx-large;
            font-weight: bold;
        }
        .stock-number {
            font-weight: bold;
        }
    }
    .summary {
        border: 1px solid #ccc;
        border-left: 0;
    }

    .details {
        border: 1px solid #ccc;
        border-top: 0;
    }

    .confirm {
        border: 1px solid #ccc;
        border-left: 0;
        border-top: 0;
    }
}
