@import '../variables';
@import '../mixins/button';

.title-bar {
  display: flex;
  width: 100%;


  &__title {

    flex: 1;
    font-size: 1.4rem;

  }

  &__buttons {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  &__button {
    @include button;
  }
}

.compare-deals {
  display: flex;
}

