@import '../variables';

comparepage {
  width: 100%;
}
.compare-page {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;

  &__body {
    overflow-x: scroll;
  }

  @media (min-width: $break-small) {
    padding: $section-padding;
  }
}
