@import '../variables';

comparepage {
  width: 100%;
}

.compare-page {
  display: block;
  margin: 0 auto;
  max-width: 992px;
  overflow: hidden;
  padding: 0;

  a {
    color: $color-blue;
  }

  &__body {
    overflow-x: scroll;
  }
}
