@import '../variables';

comparepage {
  width: 100%;
}
.compare-page {
  display: block;
  overflow: hidden;
  padding: $section-padding;

  &__arrow-buttons {
    background-color: $color-text-white;
    border: 1px solid $color-section-bottom-border;
    border-radius: 4px;
    display: flex;
    float: right;
    margin-top: -40px;
  }

  &__arrow-button {
    align-items: center;
    display: block;
    fill: $color-sidebar-background-secondary-dark;
    flex: 1;
    height: 40px;

    &:first-child {
      border-right: 1px solid $color-section-bottom-border;
    }
  }
}
