@import '../variables';
@import '../mixins/button';

.filter-page {
  display: flex;
  width: 100vw;

  &__deals {
    width: calc(100vw - #{$sidebar-filters-width});
  }

  &__filter-panel {
    background-color: $color-sidebar-background-primary;
    border-bottom: 1px solid $color-section-bottom-border;
    width: $sidebar-filters-width;
  }
}
