@import '../mixins/button';
@import '../mixins/constrained';

financing {
    width: 100%;
}

.financing {
    @include constrained;
    text-align: center;

    &__button {
        @include button;
    }

    &__cash {
        color: $color-text-blue;
        cursor: pointer;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin: 26px 25px 46px;
    }

    &__title {
        color: $text-color-dark;
        font-size: 1.5rem;
    }
}
