@import '../variables';

@mixin button {
  align-items: center;
  background: transparent;
  border: 2px solid $color-background-primary;
  color: $text-color;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.1rem;
  padding: 15px;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;

  &--invert {
    border: 2px solid $color-background-secondary;
  }

  &--small {
    font-size: .9rem;
    padding: 5px 15px;
    text-transform: none;
  }

  &--blue {
    background-color: $color-blue;
    color: $color-text-white;
  }

  &--no-border {
    border: 2px solid transparent;
  }

  &--dark-bg {
    color: $color-text-white;
  }

  &--capitalize {
    text-transform: capitalize;
  }
}
