@import '../variables';

@mixin button {
  background: transparent;
  border: 2px solid $color-background-primary;
  color: $text-color;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.1rem;
  padding: 15px;
  text-transform: uppercase;
  border-radius: 5px;

  &--invert {
    border: 2px solid $color-background-secondary;
  }

  &--small {
    font-size: .8rem;
    padding: 5px 20px;
    text-transform: none;
  }

  &--blue {
    background-color: $color-button-secondary;
    color: $color-text-white;
  }

  &--no-border {
    border: 2px solid transparent;
  }
}
