@mixin selector-icon() {
    align-items: center;
    border: 1px solid $color-grey;
    border-radius: 2px;
    display: inline-flex;
    fill: $color-text-white;
    height: 20px;
    width: 20px;
    margin-right: 6px;
    padding: 3px;

    &--selected {
        border-color: $color-blue;
    }

    &--inverted {
        fill: $color-blue;
    }
}
