@import '../variables';

@mixin tabs {
  &__tabs {
    border-bottom: 1px solid $color-section-bottom-border;
  }

  &__tab {
    cursor: pointer;
    display: inline-block;
    margin: 0 20px -1px 0;

    &--selected {
      border-bottom: 2px solid $color-blue;
      color: $text-color-dark;
    }
  }
}
