{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          ">0.25%",
          "not op_mini all"
        ]
      }
    }],
    "es2015",
    "react",
    "stage-2"
  ],
  "plugins": ["transform-object-rest-spread", "transform-class-properties"],
  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  }
}