/node_modules
/resources/assets/js/body-styles.js
/resources/assets/js/zondicons.js
/public/storage
/public/hot
/storage/*.key
/storage/vauto
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env
/storage/debugbar
.vscode/launch.json
