frontend/.next/
/node_modules
/backend/public/storage
/backend/public/css/
/backend/public/js/
/backend/storage/*.key
/backend/storage/vauto
/backend/vendor
/.idea
/.vagrant
.env
/backend/storage/debugbar
/.vscode
.DS_Store
*.log

.phpstorm.meta.php
_ide_helper.php

!.gitkeep
