@import '../variables';
@import '../mixins/button';

.accupricing-cta {
  margin-top: 1rem;
  text-align: left;

  &__logo {
    max-width: 10rem;
    height: auto;
    display: block;
    cursor: pointer;
  }

  &__disclaimer {
    margin: 0;
    font-size: $font-size-base * .75;
  }
}