@import '../variables';

.back-bar {
  background: #fff;
  border-top: 1px solid #ddd;
  box-shadow: inset 0px 4px 8px 0 rgba(0, 0, 0, 0.05);

  a {
    color: $color-blue;
    display: block;
    font-size: 0.75em;
    max-width: 75%;
    margin: 0 auto;
    padding: 0.25em;
    text-decoration: none;

    @media (min-width: $break-large) {
      max-width: $break-large;
    }
  }
}
