.card {
    .card-header {
        border: none;
        background: none;
        padding: 0;
        flex: 1 1 auto;
        width: 100%;
    }

    .card-body {
        padding: 0;
        flex: 0;
    }

    .card-footer {
        border: none;
        background: none;
        padding: 0;
        width: 100%;
    }

    .card-footer .btn {
        padding: 0.1rem 0.5rem;
        font-size: 0.85rem;

        @include media-breakpoint-up(sm) {
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
        }
    }
}

.card-deck {
    flex-flow: row wrap;
}

.card-deck > .card {
    margin: 0;
    max-height: fit-content;
    min-height: fit-content;
    @include media-breakpoint-up(sm) {
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.inventory-summary {
    width: 50%;
    padding: 0.5rem;

    @include media-breakpoint-up(sm) {
        width: auto;
        max-width: 300px;
        min-width: 300px;

        border-radius: 0.25rem;
        border: 1px solid #ced4d9;
    }

    .thumbnail-container {
        max-height: 225px;
        display: flex;
        align-items: center;

        img {
            border-bottom: 0;
            display: block;
            width: 100%;
            object-fit: cover;
            &.placeholder {
                max-height: 210px;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}
