.card {
    border-radius: 0;

    .card-header {
        border: none;
        background: none;
        padding: 0;
        flex: 1 1 auto;
        width: 100%;
    }

    .card-body {
        padding: 0;
        flex: 0 0 auto;
    }

    .card-footer {
        border: none;
        background: none;
        padding: 0;
        width: 100%;
    }
}

.card-deck {
    flex-flow: row wrap;
}

.card-deck > .card {
    margin: 0;
    //max-height: fit-content;
    //min-height: fit-content;
    @include media-breakpoint-up(sm) {
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.inventory-summary {
    box-shadow: $box-shadow-sm;
    width: 50%;
    padding: 0.5rem;
    border-radius: 0;
    cursor: pointer;

    @include media-breakpoint-up(sm) {
        width: auto;
        max-width: 300px;
        min-width: 300px;
    }

    @include media-breakpoint-up(md) {
        width: auto;
        max-width: 300px;
        min-width: 300px;

        border-radius: 4px;
    }

    .thumbnail-container {
        max-height: 225px;
        display: flex;
        align-items: center;
        &.full {
            img {
                max-width: 100%;
            }
        }
        img {
            border-bottom: 0;
            display: block;
            width: 100%;
            object-fit: cover;
            &.placeholder {
                max-height: 210px;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
    .card-footer {
        margin-top: 0.5rem;
    }
}
