.cash-finance-lease-calculator {
    background: $color-text-white;
    padding: 15px;

    @media (min-width: $break-small) {
        width: 450px;
    }

    .rebates {
        h4 {
            margin-bottom: 0;
        }
        p:first-of-type {
            margin-top: 0;
        }
    }

    &__calculator-content {
        width: 100%;
    }

    &__lease-table-container {
        overflow: scroll;
        padding: 20px;
    }

    &__lease-table {
        width: 100%;

        td {
            padding: 5px;
        }
    }

    &__lease-table-cell {
        padding: 5px;

        &--dark {
            background: $color-grey;
        }

        &--selectable {
            background: $color-blue;
            border: 1px solid $color-section-bottom-border;
            border-radius: 3px;
            color: $color-text-white;
            cursor: pointer;
        }

        &--selected {
            background: $color-text-white;
            border: 1px solid $color-section-bottom-border;
            border-radius: 3px;
            color: $color-blue;
            cursor: pointer;
        }

        &--darker {
            background: $color-darkestgrey;
            color: $color-text-white;
        }
    }

    &__left-item {
        margin-right: 20px;
    }

    &__right-item {
        float: right;

        input {
            text-align: right;
            width: 5rem;
        }

        input::-webkit-inner-spin-button,
        input::-webkit-outer-spin-button {
            -webkit-appearance: none !important;
            margin: 0 !important;
            -moz-appearance: textfield !important;
        }
    }
}
