@import '../variables';

.comparebar {
  $compare-button-width: 80px;

  border-top: 3px solid $color-blue;
  bottom: 0;
  display: flex;
  height: $compare-bar-height;
  max-height: $compare-bar-height;
  position: absolute;
  width: 100%;

  &__deals {
    border-left: 2px solid transparent;
    border-right: 5px solid transparent;
    display: flex;
    flex-direction: row;
    font-size: small;
    overflow-x: auto;
    width: calc(100% - #{$compare-button-width});
  }

  &__deal {
    border: 1px solid $color-section-bottom-border;
    border-radius: 4px;
    display: flex;
    margin: 2px;
    max-width: 175px;
    min-width: 175px;
    padding: 5px 10px;
    width: 175px;

    &__info {
      margin-right: auto;
    }

    &__title {
      color: $color-blue;
      font-weight: bold;
    }

    &__remove {
      align-items: center;
      cursor: pointer;
      display: flex;
      fill: lighten($text-color, 20%);
    }
  }

  &__compare-button {
    background-color: $color-blue;
    color: $color-text-white;
    cursor: pointer;
    font-size: small;
    max-width: $compare-button-width;
    padding: 10px;
    text-align: center;
    width: $compare-button-width;

    &__ready {
      opacity: 1;
    }

    &__arrow {
      fill: $color-text-white;
    }
  }
}
