@import '../variables';

.compare-page-deals {
  $deal-width: 300px;
  display: flex;
  margin-top: 12px;
  transition: .5s;

  &__deal {
    margin-right: 10px;
    min-width: $deal-width;
    transition: 1s;
    width: $deal-width;

    @media (max-width: $break-small) {
      min-width: 100vw;
    }

    &--opaque {
      opacity: .5;
    }
  }
}


