@import '../variables';

.compare-bar {
  $compare-button-width: 80px;
  border-top: 3px solid $color-blue;
  bottom: 0;
  display: flex;
  height: $compare-bar-height;
  max-height: $compare-bar-height;
  position: absolute;
  width: 100%;

  &__deals-counter-bubble {
    position: absolute;
    width: $compare-button-width;
  }

  &__deals {
    border-left: 2px solid transparent;
    border-right: 5px solid transparent;
    display: flex;
    flex-direction: row;
    font-size: small;
    overflow-x: auto;
    width: calc(100% - #{$compare-button-width});
  }

  &__deal {
    border: 1px solid $color-section-bottom-border;
    border-radius: 4px;
    display: flex;
    margin: 2px;
    padding: 5px 10px;

    &__info {
      margin-right: auto;
      padding-right: 10px;
    }

    &__title {
      color: $color-blue;
      font-weight: bold;
      white-space: nowrap;
    }

    &__remove {
      align-items: center;
      cursor: pointer;
      display: flex;
      fill: lighten($text-color, 20%);
    }
  }

  &__compare-button {
    background-color: $color-blue;
    color: $color-text-white;
    cursor: pointer;
    font-size: small;
    max-width: $compare-button-width;
    padding: 10px;
    text-align: center;
    width: $compare-button-width;

    &--not-ready {
      opacity: .6;
    }

    &__arrow {
      fill: $color-text-white;
    }
  }
}
