@import '../variables';

$icon-margin: 10px;
$icon-size: 20px;

.compare-page__body-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compare-page-table {
    border: 1px solid $color-grey;

    &__content {
        display: none;
    }

    &__header {
        align-items: center;

        background-color: $color-text-white;
        color: $color-darkestgrey;
        display: flex;
        font-weight: bold;
        padding: 5px 0 5px 10px;
    }

    &__header-cheveron {
        fill: $color-darkestgrey;
        height: $icon-size;
        margin-left: $icon-margin;
        margin-right: $icon-margin;
        width: $icon-size;
    }

    &__content {
        ul {
            display: flex;
            flex-direction: column;
            flex: 1;
            list-style: none;
            margin: 0;
            padding: 0;
            &:first-child {
                li {
                    border-left: 0;
                }
            }
            &:last-child {
                li {
                    border-right: 0;
                }
            }
        }

        li {
            padding: 4px 10px;
            border: 1px solid #ccc;
        }
    }

    &__columns {
        display: inline-flex;
        overflow-y: hidden;

        &--closed {
            height: 0;
        }
    }

    &__column {
        border-left: 1px solid $color-grey;
        min-width: 50vw;
        max-width: 50vw;

        @media (min-width: $break-small) {
            max-width: $deal-card-width + ($deal-card-margin * 2);
            min-width: $deal-card-width + ($deal-card-margin * 2);
        }

        &:first-child {
            border-left: 0;
        }
    }

    &__cell {
        border-top: 1px solid $color-grey;
        max-height: 2.25em;
        overflow: hidden;
        padding: $deal-card-margin;

        &:first-child {
            border-top: 0;
        }
    }

    &--open {
        .compare-page-table__header {
            background-color: $color-sidebar-background-primary;
            color: $color-text-white;
        }

        .compare-page-table__content {
            display: flex;
        }

        .compare-page-table__header-cheveron {
            fill: $color-text-white;
        }
    }
}
