@import '../variables';

.compare-bubble {
  $size: 40px;
  align-items: center;
  background: $color-blue;
  border-radius: $size;
  bottom: 0;
  cursor: pointer;
  display: flex;
  height: $size;
  justify-content: center;
  margin: 10px;
  position: fixed;
  right: 5px;
  width: $size;

  &--shake {
    animation: shake 1s;
  }

  &__icon {
    position: absolute;
    right: 10px;
    top: 10px;
    fill: $color-text-white;
  }

  &__count {
    $small-size: 20px;
    background: red;
    border-radius: 50%;
    box-shadow: -1px 1px 1px $color-black;
    color: $color-text-white;
    font-size: small;
    height: $small-size;
    left: 10px;
    position: relative;
    text-align: center;
    top: -15px;
    width: $small-size;
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
}
