@import '../variables';

.compare-page-title-bar {
    width: 100%;

    &__title {
        border-bottom: 1px solid $color-grey;
        color: $color-darkergrey;
        font-size: x-large;
        margin: 10px 0 10px 10px;
        padding-bottom: 8px;

        @media (min-width: $break-small) {
            margin: 10px 0;
        }
    }
}
