@import '../variables';

.compare-bar {
    $compare-button-width: 80px;
    background-color: $color-compare-bar-background;
    bottom: 0;
    display: flex;
    height: $compare-bar-height;
    justify-content: center;
    max-height: $compare-bar-height;
    position: absolute;
    width: 100%;

    &--static {
        position: static;
    }

    &__deals-counter-bubble {
        position: absolute;
        width: $compare-button-width;
    }

    &__deals {
        background-color: white;
        border-top: 3px solid $color-blue;
        display: flex;
        flex-direction: row;
        font-size: small;
        margin: 8px 0;
        max-width: $compare-bar-width;
        overflow-x: auto;
        width: $compare-bar-width;
    }

    &__deal {
        border-bottom: 1px solid $color-blue;
        display: flex;
        margin: 2px;
        padding: 5px 10px;

        &__info {
            color: $color-blue;
            font-weight: bold;
            margin-right: auto;
            padding-right: 10px;

            &__color {
                display: none;
            }
            &__msrp {
                font-size: 0.5em;
            }
        }

        &__title {
            color: $color-darkergrey;
            white-space: nowrap;
        }

        &__remove {
            align-items: center;
            cursor: pointer;
            display: flex;
            fill: lighten($text-color, 20%);
        }
    }

    &__compare-button {
        background-color: $color-blue;
        color: $color-text-white;
        cursor: pointer;
        font-size: small;
        height: 54px;
        margin: 8px 0;
        max-width: $compare-button-width;
        padding: 10px;
        text-align: center;
        width: $compare-button-width;

        &--not-ready {
            opacity: 0.6;
        }

        &__arrow {
            fill: $color-text-white;
        }
    }
}
