@import '../variables';

.compare-page {
  &__top-row {
    border-bottom: 1px solid $color-section-bottom-border;
    padding-bottom: .5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    &__section {
      &--accuPricing {
        margin-right: auto;
      }
      &--sortbar {
      }
      &--tabButtons {
      }
    }
  }
}