@import '../variables';
@import '../mixins/button';

.confirm-deal {
  background-color: $color-background-secondary;
  border: 1px solid $color-grey;
  height: fit-content;
  margin: $deal-card-margin;
  max-width: $deal-card-width;
  min-width: $deal-card-width;
  padding-left: 1em;

  &__basic-info {
    margin-bottom : 0.5rem;
  }

  &__basic-info-year-and-model {
    color: $color-blue;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    line-height: 1.3rem;
    text-decoration: none;
  }

  &__basic-info-year-and-make {
    color: $color-darkergrey;
    font-size: small;
    margin-bottom: 2px;
  }

  &__basic-info-model-and-series {
    color: $color-darkestgrey;
    font-size: x-large;
  }

  &__basic-info-msrp {
    color: $text-color-dark;
    display: block;
    font-size: 1.15rem;
  }
  &__button {
    @include button;
    border-color: $color-blue;
    height: 60%;
    margin: .25em auto;
    //padding: .25em;
    width: 90%;

    &--small{
      font-size: .8em;
    }
  }

  &__disclaimer {
    font-size: small;
  }

  &__feature-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__final-price {
    color: $color-pink;
  }

  &__image {
    border: 1px solid $color-grey;
    border-bottom: 0;
    display: block;
    height: 225px;
    min-height: 225px;
    width: 100%;

    &--fallback {
      padding: 25px;
    }
  }

  &__prices {
    font-size: .9em;

    a {
      text-transform: uppercase;
      color: $color-blue;
    }
  }

  &__pricing-details {
    font-size: 1.25em;
    text-decoration: underline;
  }
}
