@import '../variables';

.customer-type {
    display: flex;

    &__select {
        margin-right: 10px;
    }

    &__info {
        display: inline;
        position: relative;

        @media (max-width: $break-small) {
            display: none;
        }
    }

    &__info:hover {
        text-decoration: none;
    }

    &__info:hover::after {
        background-color: $color-text-white;
        border: 1px solid $color-darkestgrey;
        bottom: 1.35em;
        color: $text-color-dark;
        content: attr(data-title);
        display: block;
        font-size: small;
        left: 1em;
        padding: 0.3em 1em;
        position: absolute;
        width: 240px;
        z-index: 98;
    }

    &__info:hover::before {
        bottom: 1em;
        content: '';
        display: block;
        left: 2em;
        position: absolute;
        z-index: 99;
    }
}
