@import '../variables';

$padding: 15px;

.deal-details {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px + ($padding * 6);
  padding: $padding;

  &__images {
    padding: $padding;
    text-align: center;
    width: 100%;
    @media (min-width: $break-large) {
      width: 50%;
    }
  }

  &__information {
    padding: $padding;
    width: 100%;
    @media (min-width: $break-large) {
      width: 50%;
    }
  }

  &__primary-image {
    max-height: 300px;
    max-width: 400px;
    width: 100%;
  }

  &__thumbnail-images {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
  }

  &__thumbnail-image {
    height: 50px;
    margin: 5px;
    width: 66px;

    &--from-fuel {
      border: 2px solid $color-sidebar-background-secondary-dark;
    }

    &--selected {
      border: 1px solid $color-blue;
    }
  }

  &__vin {
    float: right;
  }

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    border-bottom: 1px solid $color-section-bottom-border;
    display: flex;
    justify-content: flex-start;

    :nth-child(1) {
      margin-right: auto;
    }
  }
}
