@import '../variables';
@import '../mixins/button';

.deals {
  background-color: $color-background-primary;
  border-bottom: 1px solid $color-section-bottom-border;
  display: flex;
  flex-flow: row wrap;
  height: calc(100vh - #{$nav-height + $sortbar-height + $footer-height + $filterbar-height});
  justify-content: flex-start;
  overflow-y: scroll;
  padding: 20px 40px;

  .deal {
    background-color: $color-background-secondary;
    border-radius: 6px;
    margin: 5px;
    max-width: 300px;
    min-width: 300px;

    &__basic-info {
      padding: 5px 15px 0;
    }

    &__image {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      min-height: 188px;
      width: 100%;
    }

    &__buttons {
      display: flex;
      justify-content: space-around;
      margin: 5px 0 25px;
      padding: 0 10px;
    }

    &__button {
      @include button;
      flex: 1;
      justify-content: center;
      margin: 0 5px;
    }
  }
}
