@import '../variables';
@import '../mixins/button';

.deal-details {
  display: flex;
  flex-direction: column;
  max-width: 100%;

  @media (min-width: $break-medium) {
    flex-direction: row;
  }

  &__images-and-information {
    @media (min-width: $break-medium) {
      width: $break-medium * .6;
    }
  }

  &__images {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__information {
    padding: 15px;
  }

  &__pricing {
    background: darken($color-background-primary, 4);

    @media (min-width: $break-medium) {
      width: $break-medium * .4;
    }
  }

  &__primary-image {
    border: 1px solid $color-section-bottom-border;
    margin: 15px 0;
    width: calc(100% - 30px);
  }

  &__thumbnail-images {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
    min-height: 0;
    min-width: 0;
  }

  &__thumbnail-image {
    height: 50px;
    margin: 5px;
    width: 66px;

    &--from-fuel {
      border: 2px solid $color-sidebar-background-secondary-dark;
    }

    &--selected {
      border: 1px solid $color-blue;
    }
  }

  &__vin {
    float: right;
  }

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    border-bottom: 1px solid $color-section-bottom-border;
    display: flex;
    justify-content: flex-start;

    :nth-child(1) {
      margin-right: auto;
    }
  }

  // Login Or Register
  &__login-register {
    background: $color-background-primary;
    border-radius: 4px;
    margin: 15px;
    padding: 10px;
  }

  &__login-register-text {
    margin-bottom: 15px;
    text-align: center;
  }

  &__login-register-buttons {
    display: flex;
    width: 100%;
  }

  &__button {
    @include button;
    flex: 1;
    margin: 5px;
  }
}

// Slick Slider
.slick-slider {
  width: 85%;
}

.slick-arrow::before {
  color: $text-color;
}
