@import '../variables';
@import '../mixins/button';
@import '../mixins/selector-icon';

.deal-details {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: $break-large;

  @media (min-width: $break-large) {
    flex-direction: row;
  }

  &__images-and-information {
    @media (min-width: $break-large) {
      width: $break-large * .6;
    }
  }

  &__images {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    overflow: hidden;
  }

  &__information {
    padding: 15px;
  }

  &__title {
    border-bottom: 2px solid $color-section-bottom-border;
    color: $text-color-dark;
    font-size: 1.1rem;
    padding-bottom: 10px;
  }

  &__pricing {
    display: flex;
    flex-direction: column;

    @media (min-width: $break-large) {
      width: $break-large * .4;
    }
  }

  &__pricing-title-and-tabs {
    background: $color-grey;
    padding: 15px 15px 0;
  }

  &__pricing-title {
    border-bottom: 1.5px solid transparentize($color-section-bottom-border, .5);
    color: $text-color-dark;
    font-size: 1.2rem;
    padding-bottom: 5px;
  }

  &__pricing-body {
    background: $color-sidebar-background-secondary-light;
    height: 100%;
  }

  &__msrp {
    color: $text-color-dark;
    font-size: .9rem;
    padding: 10px 15px 5px;
  }

  &__msrp-amount {
    float: right;
    font-size: .9rem;

    &--strike {
      text-decoration: line-through;
    }
  }

  // DMR Price
  &__dmr-price {
    display: flex;
    font-size: .9rem;
    padding: 5px 15px;
  }

  &__dmr-price-label {
    align-self: center;
    color: $text-color-dark;
    flex: 1;
    font-size: .9rem;
  }

  &__dmr-price-amount {
    align-self: flex-start;
    color: $text-color-dark;
    float: right;
    font-size: 1.6rem;
    justify-self: flex-end;
    line-height: 2rem;
  }

  // Your DMR Price
  &__your-dmr-price {
    background: lighten($color-sidebar-background-secondary, 46%);
    display: flex;
    font-size: .9rem;
    padding: 5px 15px;
  }

  &__your-dmr-price-label {
    align-self: center;
    color: $text-color-dark;
    flex: 1;
    font-size: .9rem;
  }

  &__your-dmr-price-amount {
    align-self: center;
    color: $text-color-dark;
    float: right;
    font-size: 1.6rem;
    justify-self: flex-end;
    line-height: 2rem;
  }

  &__your-dmr-price-extra {
    font-size: .9rem;
  }

  &__dmr-buttons {
    display: flex;
  }

  &__dmr-button {
    @include button;
    flex: 1;
    margin: 15px;

    &:first-child {
      margin-right: 0;
    }
  }

  &__primary-image {
    border: 1px solid $color-section-bottom-border;
    margin: 15px 0;
    width: 100%;
  }

  &__thumbnail-images {
    display: flex;
    margin-bottom: 10px;
    overflow-x: scroll;
    width: 100%;
  }

  &__thumbnail-image {
    height: 50px;
    margin: 5px;
    min-width: 66px;
    width: 66px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &--from-fuel {
      border: 2px solid $color-sidebar-background-secondary-dark;
    }

    &--selected {
      border: 2px solid $color-blue;
    }
  }

  &__vin {
    color: $text-color;
    float: right;
    font-size: .8rem;
  }

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    border-bottom: 1px solid transparentize($color-section-bottom-border, .5);
    color: $text-color-dark;
    display: flex;
    font-size: .8rem;
    justify-content: flex-start;
    padding: 8px;

    :nth-child(1) {
      margin-right: auto;
    }
  }

  &__button {
    @include button;
    flex: 1;
    margin: 5px;
  }

  &__selected-tab {
    background: $color-sidebar-background-secondary-light;
  }
}
