@import '../variables';

.deal-price {
  &__price {
    margin-top: 3px;
    text-align: center;
    width: 100%;
  }

  &__cash-label {
    font-size: small;
    text-transform: uppercase;
  }

  &__finance-lease-label {
    font-size: small;
  }

  &__cash-price {
    display: flex;
    font-size: xx-large;
    justify-content: center;
    margin-bottom: -1.5rem;
    margin-top: -10px;
  }

  &__finance-lease-price {
    display: flex;
    font-size: xx-large;
    justify-content: center;
    margin-bottom: -1.5rem;
    margin-top: -10px;
  }

  &__hr {
    border-top: 1px solid $color-section-bottom-border;
    display: inline-block;
    height: 1px;
    margin-bottom: -3px;
    width: 7rem;
  }

  &__cash-msrp {
    color: $color-darkgrey;
    font-size: large;
  }

  &__cash-msrp-label {
    font-size: x-small;
  }

  &__rebates-applied {
    color: $color-darkgrey;
    font-size: small;
    margin-bottom: 10px;
    margin-top: -10px;
    text-align: center;
    width: 100%;

    a {
      color: $color-blue;
    }
  }

  &__tag-icon {
    margin-right: 5px;
  }
}
