.deal {
    &__basic-info {
        margin-bottom: 0.5rem;
    }

    &__basic-info-year-and-model {
        cursor: pointer;
        display: inline-block;
        font-size: 1.1rem;
        line-height: 1.3rem;
        text-decoration: none;
    }

    &__basic-info-year-and-make {
        color: $color-darkergrey;
        font-size: x-small;

        @include media-breakpoint-up(sm) {
            font-size: small;
        }
    }

    &__basic-info-model-and-series {
        color: $color-darkestgrey;
        font-size: 1rem;
        @include media-breakpoint-up(sm) {
            font-size: 1.25rem;
        }
    }

    &__basic-info-color {
        color: $color-darkergrey;
        font-size: x-small;
        margin-top: 2px;
        @include media-breakpoint-up(sm) {
            font-size: small;
        }
    }

    &__basic-info-msrp {
        color: $text-color-dark;
        display: block;
        font-size: 1.15rem;
    }

    &__image {
        border-bottom: 0;
        display: block;
        width: 100%;
        object-fit: cover;

        &--fallback {
            padding: 25px;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-around;
        margin: 5px 0 0 0;
        > .btn {
            flex: 1;
            &:first-child {
                margin-right: 5px;
            }
            &:last-child {
                margin-left: 5px;
            }
        }
    }
}

.thumbnail-container {
    img {
        max-width: 100%;
    }
}
