@import '../variables';
@import '../mixins/button';

.deal {
  background-color: $color-background-secondary;
  border: 1px solid $color-grey;
  border-radius: 0.25rem;
  height: fit-content;
  margin: $deal-card-margin;
  padding: 0.5rem;
  max-width: $deal-card-width;
  min-width: $deal-card-width;

  &__basic-info {
    margin-bottom : 0.5rem;
  }

  &__basic-info-year-and-model {
    color: $color-blue;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    line-height: 1.3rem;
    text-decoration: none;
  }

  &__basic-info-year-and-make {
    color: $color-darkergrey;
    font-size: small;
    margin-bottom: 2px;
  }

  &__basic-info-model-and-series {
    color: $color-darkestgrey;
    font-size: x-large;
  }

  &__basic-info-msrp {
    color: $text-color-dark;
    display: block;
    font-size: 1.15rem;
  }

  &__image {
    border: 1px solid $color-grey;
    border-bottom: 0;
    display: block;
    height: 225px;
    min-height: 225px;
    width: 100%;

    &--fallback {
      padding: 25px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    margin: 5px 0 0.5rem;
  }

  &__button {
    @include button;
    flex: 1;
    justify-content: center;
    margin: 0 5px;

    &--small {
      font-size: .8rem;
      padding: 10px 15px;
    }
  }
}
