@import '../variables';
@import '../mixins/button';

.deals {
  background-color: $color-background-primary;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding-left: 20px;

  .deal {
    background-color: $color-background-secondary;
    border-radius: 8px;
    flex: 1;
    margin: 10px 20px 10px 0;
    min-width: 250px;
    padding: 10px;

    &__basic-info {
      margin: 10px;
    }

    &__image {
      min-height: 188px;
      width: 100%;
    }

    &__buttons {
      display: flex;
      justify-content: space-around;
    }
  }

  .button {
    @include button;
  }
}
