@import '../variables';

$selector-icon-size: 23px;

@mixin selector-icon() {
  align-items: center;
  border: 2px solid $color-sidebar-background-secondary;
  display: inline-flex;
  fill: $color-text-white;
  height: $selector-icon-size;
  margin-right: 10px;
  padding: 3px;
  width: $selector-icon-size;

  &--selected {
    border-color: $color-blue;
  }
}

.filter-selector {
  &__selector {
    border-bottom: 1px solid $color-sidebar-background-secondary;
    cursor: pointer;
    display: flex;
    padding: 10px;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__checkbox {
    @include selector-icon;
  }

  &__radio {
    @include selector-icon;

    &--selected::before {
      background: $color-text-white;
      border-radius: 1px;
      content: '';
      height: 100%;
      width: 100%;
    }
  }
}
