.filterbar {
    background: #fff;
    align-items: center;
    border-bottom: 1px solid $color-section-bottom-border;
    display: none;
    height: $filterbar-height;
    max-height: $filterbar-height;
    padding: 15px 40px;

    @media (min-width: $break-medium) {
        display: flex;
    }

    &__filter-icon {
        fill: $color-sidebar-background-primary;
        height: 20px;
        margin-right: 5px;
        width: 20px;
    }

    &__filters {
        align-items: center;
        display: flex;
        margin-right: 5px;
        overflow-x: auto;
    }

    &__filter {
        font-size: 0.85rem;
        background: $color-background-primary;
        margin: 5px;
        padding: 3px 8px;
        white-space: nowrap;
    }

    &__filter-x {
        fill: $text-color;
        stroke: darken($text-color, 10%);
        stroke-width: 2;
        margin-left: 5px;
        cursor: pointer;
    }

    &__clear {
        color: $color-blue;
        cursor: pointer;
        font-size: small;
        margin-left: auto;
        text-align: right;
        white-space: nowrap;
    }
}
