@import '../variables';

.filter-style-selector {
  text-align: center;

  &__styles {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 2px;
  }

  &__style {
    align-items: center;
    border-radius: 0.5em;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 85px;
    justify-content: flex-end;
    margin: 5px 5px;
    min-height: 85px;
    min-width: calc(50% - 10px);
    padding: 5px;
    text-align: center;
    width: calc(50% - 10px);

    &--selected {
      background: $color-left-filter-selected;

      .filter-style-selector__icon {
        svg path {
          fill: $color-text-white;
        }
      }

      .filter-style-selector__name {
        color: $color-text-white;
      }
    }
  }

  &__icon {
    svg path {
      fill: $color-grey;
    }
  }

  &__name {
    color: $color-grey;
    font-size: .7rem;
    width: 100%;
  }
}
