.page-footer {
    padding: 0.5rem;
    text-align: center;
    @include media-breakpoint-up(sm) {
        text-align: left;
        padding: 2rem 3rem;
    }
    background-color: #1a1a1a;
    color: #dedede;
    font-size: 0.85rem;

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.footer-bottom {
    font-weight: bold;
    margin-top: 2rem;
}

.footer-box {
    margin-bottom: 0.5rem;
    @include media-breakpoint-up(sm) {
        margin-bottom: 0;
    }
    &__title {
        font-weight: bold;
    }
    > a {
        display: block;
        color: #dedede;
        svg {
            width: 1rem;
            fill: #dedede;
            margin-right: 4px;
        }
    }
}
