.page-footer {
    padding: 2rem 3rem;
    background-color: #1a1a1a;
    color: #f7f7f7;
    font-size: 0.85rem;

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.footer-bottom {
    font-weight: bold;
    margin-top: 2rem;
}

.footer-box {
    &__title {
        font-weight: bold;
    }
    > a {
        display: block;
        color: #f7f7f7;
        svg {
            width: 1rem;
            fill: #f7f7f7;
            margin-right: 4px;
        }
    }
}
