/* The info modal uses styles from modal; these are just add-ons */
@import '../variables';

.infomodal {
    &__context {
        display: inline-block;
        font-size: 1rem;
        height: min-content;
        margin-left: 5px;
        vertical-align: middle;
    }
}
