@import '../variables';

$make-height: 120px;
$make-width: 120px;

.make-selector {
  text-align: center;

  &__makes {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__make {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    max-width: $make-width;
    text-align: center;
    width: $make-width;

    &--selected {
      outline: red solid 1px;
    }

    img {
      height: $make-height;
      max-height: $make-height;
      max-width: $make-width;
      width: $make-width;
    }
  }
}
