@import '../variables';
@import '../mixins/button';

$offset-top: 150px;
$offset-horizontal: 50px;
$modal-header-height: 100px;
$modal-footer-height: 60px;

.modal {
  &__sticker-container {
    background-color: $color-text-white;
  }

  &__sticker {
    background-color: $color-darkergrey;
    color: $color-text-white;
    margin: 0 auto;
    text-align: center;
    width: 150px;
  }

  &__overlay {
    background: $color-black;
    height: 100vh;
    left: 0;
    opacity: .5;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    max-height: calc(100vh - #{$offset-top});
    position: fixed;
    top: $modal-footer-height;
    width: 100vw;
    z-index: 1;
  }

  &__content {
    background-color: $color-background-primary;
    max-height: 100%;
    max-width: calc(100vw - #{$offset-horizontal * 2});
    opacity: 1;
  }

  &__header {
    background-color: $color-background-secondary;
    display: flex;
    height: $modal-header-height;
    padding: 20px;
    position: relative;
  }

  &__body {
    max-height: calc(100vh - #{$offset-top + $modal-header-height + $modal-footer-height});
    overflow-x: hidden;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      margin-right: 10px;
      width: 9px;
    }

    &::-webkit-scrollbar-thumb {
      background-clip: padding-box;
      background-color: rgba(0,0,0,.5);
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 4px;
      margin-right: 10px;
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }

    &--no-header {
      max-height: calc(100vh - #{$offset-top + $modal-footer-height});
    }

    &--no-footer {
      max-height: calc(100vh - #{$offset-top + $modal-header-height});
    }
  }

  &__footer {
    background-color: $color-background-secondary;
    border-top: 1px solid $color-section-bottom-border;
    display: flex;
    height: $modal-footer-height;
    justify-content: center;
    padding: 10px;
  }

  &__titles {

    &--center {
      margin: 0 auto;
    }
  }

  &__title {
    font-size: 1.4rem;

    &--center {
      text-align: center;
    }
  }

  &__subtitle {
    &--center {
      text-align: center;
    }
  }

  &__close {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  &__close-x {
    cursor: pointer;
    fill: $text-color;
  }

  &__close-button {
    @include button;
  }
}
