@import '../variables';
@import '../mixins/button';

$offset-top: 150px;
$offset-horizontal: 50px;
$modal-header-height: 100px;
$modal-footer-height: 60px;

.modal {
  &__overlay {
    background: $color-black;
    height: 100vh;
    left: 0;
    opacity: .5;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    max-height: calc(100vh - #{$offset-top});
    position: absolute;
    top: $modal-footer-height;
    width: 100vw;
    z-index: 1;
  }

  &__content {
    background-color: $color-background-primary;
    max-height: 100%;
    max-width: calc(100vw - #{$offset-horizontal * 2});
    opacity: 1;
    overflow: scroll;
  }

  &__header {
    background-color: $color-background-secondary;
    display: flex;
    height: $modal-header-height;
    padding: 20px;
    position: relative;
  }

  &__body {
    max-height: calc(100vh - #{$offset-top + $modal-header-height + $modal-footer-height});
    overflow-x: hidden;

    &--no-footer {
      max-height: calc(100vh - #{$offset-top + $modal-header-height});
    }
  }

  &__footer {
    background-color: $color-background-secondary;
    border-top: 1px solid $color-section-bottom-border;
    display: flex;
    height: $modal-footer-height;
    justify-content: center;
    padding: 10px;
  }

  &__titles {
    //
  }

  &__title {
    font-size: 1.4rem;
  }

  &__subtitle {
    //
  }

  &__close {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  &__close-x {
    cursor: pointer;
    fill: $text-color;
  }

  &__close-button {
    @include button;
  }
}
