@import '../variables';
@import '../mixins/button';

.modelyears {
  @extend .deals;
}
.modelyears .modelyear {
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.compare-page .modelyear {
  border: none;
}

.modelyear {
  background-color: $color-background-secondary;
  border: 1px solid $color-grey;
  height: fit-content;
  margin: $modelyear-card-margin;
  width: 100%;

  @media (min-width: $break-small) {
    max-width: $modelyear-card-width;
    min-width: $modelyear-card-width;
  }

  &__basic-info {
    margin-bottom : 0.5rem;
  }

  &__basic-info-year-and-make {
    color: $color-darkergrey;
    font-size: small;
    margin-bottom: 2px;
  }

  &__basic-info-model-and-series {
    color: $color-darkestgrey;
    font-size: x-large;
  }

  &__count {
    color: $color-blue;
    font-size: x-large;
    flex-shrink: true;
  }

  &__image {
    border: 1px solid $color-grey;
    display: block;
    height: 225px;
    min-height: 225px;
    width: 100%;
    margin: 0 0 5px;

    &--fallback {
      padding: 25px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
  }

  &__button {
    @include button;
    flex: 1;
    justify-content: center;
    width: 100%;

    &--small {
      font-size: 0.8rem;
      padding: 10px 15px;
    }
  }

  &__details {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__price {
    font-size: x-large;
    text-align: right;

    &-label {
      display: block;
      font-size: x-small;
    }
  }
}
