.compare-page .modelyear {
    border: none;
}

.modelyear {
    &__basic-info {
        margin-bottom: 0.5rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__basic-info-year-and-make {
        color: $color-darkergrey;
        font-size: x-small;
        margin-bottom: 2px;

        @media (min-width: $break-small) {
            font-size: small;
        }
    }

    &__basic-info-model-and-series {
        color: $color-darkestgrey;
        font-size: large;
        @media (min-width: $break-small) {
            font-size: x-large;
        }
    }

    &__count {
        color: $color-blue;
        font-size: large;
        flex-shrink: true;
        @media (min-width: $break-small) {
            font-size: x-large;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-around;
        margin: 5px 0;
    }

    &__details {
        align-items: flex-end;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    &__price {
        font-size: large;
        text-align: right;

        @media (min-width: $break-small) {
            font-size: x-large;
        }

        &-label {
            display: block;
            font-size: x-small;
        }
    }
}
