.compare-page .modelyear {
    border: none;
}

.modelyear {
    &__header {
        display: flex;
        margin-bottom: 0.5rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__name {
        flex: 1;
    }

    &__basic-info-year-and-make {
        color: $color-darkergrey;
        font-size: 0.85rem;

        @include media-breakpoint-up(sm) {
            font-size: 0.85rem;
        }
    }

    &__basic-info-model-and-series {
        color: $color-darkestgrey;
        font-size: 1rem;
        @include media-breakpoint-up(sm) {
            font-size: 1.25rem;
        }
    }

    &__count {
        font-size: 0.85rem;
        text-align: right;
        color: $color-blue;
    }

    &__buttons {
        display: flex;
        justify-content: space-around;
        margin: 5px 0;
    }

    &__details {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    &__price {
        font-size: 2rem;
        text-align: center;
        @include media-breakpoint-up(sm) {
            font-size: 1.5rem;
        }

        &-label {
            display: block;
            font-size: 0.9rem;
        }
    }
}
