@import '../variables';

.nav {
  align-items: center;
  background-color: $color-background-primary;
  border-bottom: 1px solid $color-section-bottom-border;
  display: flex;
  height: $nav-height;
  max-height: $nav-height;
  padding: 15px;

  &__logo {
    align-items: center;
    display: flex;
    flex: 1;
  }

  &__search {
    flex: 1;
  }

  &__links {
    flex: 1;
  }
}
