@import '../variables';
@import '../mixins/constrained';
@import '../mixins/button';

.section {
  @include constrained;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding: $section-padding;
  position: relative;

  &__no-padding {
    padding: 0;
  }

  &__buttons {
    margin: 15px;
  }

  &__button {
    @include button;
    margin: 0 8px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__title-icon {
    fill: $color-blue;
    height: 50px;
    margin: 0 auto 15px;
    width: 100%;

    svg {
      height: 100%;
    }
  }

  &__image {
    margin: 25px 0;
    text-align: center;
    width: 100%;

    img {
      border: 1px solid $color-section-bottom-border;
      width: $break-extra-small;
    }
  }

  &__title {
    color: $text-color-dark;
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
    width: 100%;

    &--constrict-extra-small {
      margin: 0 auto;
      max-width: $break-extra-small;
    }

    &--constrict-small {
      margin: 0 auto;
      max-width: $break-small;
    }

    &--small {
      font-size: 1.25rem;
      line-height: 2rem;
    }

    &--medium {
      font-size: 1.4rem;
    }

    &--left {
      text-align: left;
    }

    &--underline {
      border-bottom: 1px solid transparentize($color-section-bottom-border, .5);
      line-height: 3.5rem;
    }
  }

  &--no-padding {
    padding: 0;
  }

  &--stretch {
    min-height: calc(100vh - #{$nav-height} - #{$footer-height-mobile});

    @media (min-width: $break-large) {
      min-height: calc(100vh - #{$nav-height} - #{$footer-height});
    }
  }

  &--no-footer {
    border-bottom-style: none;
  }

  &--no-footer &--stretch {
    min-height: calc(100vh - #{$nav-height});
  }

  &--no-header-or-footer {
    border-bottom-style: none;
  }

  &--no-header-or-footer &--stretch {
    min-height: 100vh;
  }

  &--darker {
    background-color: $color-background-primary;
  }

  &--darkest {
    background-color: $color-sidebar-background-secondary-dark;
  }
}
