@import '../variables';

.sidebar-filters {
  &__header {
    background-color: $color-sidebar-background-secondary-dark;
    color: $text-color;
    padding: 5px 15px;
    text-transform: uppercase;
  }

  &__filter {
    align-items: center;
    border-bottom: 1px solid $color-sidebar-background-secondary;
    color: $color-text-white;
    display: flex;
    padding: 15px;
  }

  &__icon {
    fill: $color-text-white;
    height: 20px;
    margin-right: 10px;
    width: 20px;
  }
}
