@import '../variables';

$icon-margin: 10px;
$icon-size: 20px;

.sidebar-filters {
  height: calc(100vh - #{$nav-height} - #{$sortbar-height} - #{$footer-height});
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;

  &__header {
    background-color: $color-sidebar-background-secondary-dark;
    color: $text-color;
    padding: 5px 15px;
    text-transform: uppercase;
  }

  &__filter {
    border-bottom: 1px solid $color-sidebar-background-secondary;
    color: $color-text-white;
  }

  &__filter-title {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 15px 15px 15px 0;
    user-select: none;
  }

  &__filter-body {
    border-top: 1px solid $color-sidebar-background-secondary;
    margin-left: $icon-margin + $icon-size + $icon-margin;
  }

  &__icon {
    fill: $color-text-white;
    height: $icon-size;
    margin-left: $icon-margin;
    margin-right: $icon-margin;
    width: $icon-size;
  }
}
