.toolbar-sort {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 500;
    select {
        background: $primary;
        color: #fff;
    }
    option {
        padding: 8px;
        border-radius: 0;
    }
}
