@import '../mixins/button';
@import '../variables';

.sortbarcompare {
  border-bottom: 1px solid $color-section-bottom-border;
  display: flex;
}

.sortbar {
  border-right: 2px solid $color-section-bottom-border;
  display: flex;
  flex: 7;
  height: $sortbar-height;
  max-height: $sortbar-height;
  padding: 5px 15px 5px 0;

  &__count {
    align-items: center;
    display: flex;
    flex: 1;
    padding-left: 10px;
  }

  &__count-number {
    color: darken($text-color, 20%);
    font-weight: bold;
    margin-right: 5px;
  }

  &__buttons {
    align-items: center;
    display: flex;
    flex: 2;
    justify-content: flex-end;
  }

  &__button {
    @include button;
    margin: 5px;
  }

  &__sort-icon {
    fill: $text-color;
    margin-right: 3px;
  }

  &__filter-toggle {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
  }

  &__filter-toggle-text {
    border-right: 1px solid $text-color;
    color: $text-color-dark;
    font-weight: bold;
    padding-right: 10px;
  }

  &__filter-toggle-icon {
    margin-bottom: -5px;
    margin-right: 8px;
    padding-left: 10px;
  }
}

.compare {
  align-self: center;
  display: flex;
  flex: 1;
  justify-content: center;
}
