@import '../variables';

.welcome-steps {
  $step-number-size: 41px;
  background: $color-background-secondary;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &__title {
    color: $text-color-dark;
    font-size: x-large;
    font-weight: lighter;
    margin-top: 50px;
  }

  &__sexy-line {
    background: -webkit-gradient(radial, 0 50%, 0, 100 50%, 100, from(transparentize($color-section-bottom-border, .25)), to($color-background-secondary));
    display: block;
    height: 1px;
    margin-bottom: 41px;
    width: 100%;
  }

  &__image {
    background: url('/images/welcome-right.png') center;
    background-size: cover;
    min-height: 300px;
    min-width: 100%;
    width: 100%;

    @media (min-width: $break-large) {
      min-width: 50%;
      width: 50%;
    }
  }

  &__steps {
    font-size: 1.125rem;
    min-width: 100%;
    padding-bottom: 100px;
    padding-left: 40px;
    padding-right: 20px;
    width: 100%;

    @media (min-width: $break-large) {
      min-width: 50%;
      padding-left: calc(50% - (#{$break-large} / 2));
      width: 50%;
    }
  }

  &__step-container {
    display: flex;
    flex-wrap: wrap;
  }

  &__step {
    display: flex;
    flex-direction: column;
    width: calc(100% - #{$step-number-size});
  }

  &__step-number {
    align-items: center;
    background: $color-lighter-blue;
    border: 2px solid $color-light-blue;
    border-radius: $step-number-size;
    color: $text-color-dark;
    display: flex;
    height: $step-number-size;
    justify-content: center;
    margin-top: 5px;
    width: $step-number-size;
  }

  &__step-title {
    color: $text-color-dark;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 15px;
  }

  &__step-description {
    font-size: 1rem;
    margin-bottom: 20px;
    padding-left: 15px;
  }
}
