@import '../variables';
@import '../mixins/button';

.zipcode-finder {
  background-color: $color-sidebar-background-secondary;
  color: $color-text-white;
  display: flex;
  padding: 5px 15px;

  &__info {
    align-content: center;
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
  }

  &__code {
    font-size: 1.1rem;
  }

  &__buttons {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  &__button {
    @include button;
  }
}
