@import '../variables';
@import '../mixins/button';
@import '../mixins/input';

.zipcode-finder {
  background-color: $color-sidebar-background-secondary;
  color: $color-text-white;
  display: flex;
  height: auto;
  padding: 5px 10px;

  &__info {
    align-content: center;
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  &__input {
    @include input;
    width: 58px;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &--invalid {
      border: 1px solid $color-error;
    }
  }

  &__zipcode {
    font-size: 1.4rem;
  }

  &__buttons {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 70%;
  }

  &__button {
    @include button;
    &:first-child {
      margin-right: 5px;
    }

    &:last-child {
      margin-right: 0;
    }

    &--inactive {
      $inactive-color: transparentize($color-section-bottom-border, .5);
      border: 1px solid $inactive-color;
      color: $inactive-color;

      svg {
        fill: $inactive-color;
      }
    }
  }
}
