.about {
    h2 {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 30px;
    }
    h3 {
        font-weight: 700;
        margin-bottom: 30px;
    }

    &__twss {
        background: $color-background-secondary;
    }

    &__story {
        .row {
            box-shadow: $box-shadow;
        }

        .col-sm-6:first-of-type {
            background: #e7f1f7;
            padding: 45px;
            font-size: 0.8rem;
        }

        h3 {
            font-weight: 700;
            margin-bottom: 20px;
        }
        .about__story-image {
            margin: 0;
            background: url('https://source.unsplash.com/random/800x600');
            height: 100%;
        }
    }

    &__values {
        h4 {
            font-size: 1.2rem;
            font-weight: bold;
        }
        .text-sm {
            font-size: 0.75rem;
        }
    }

    &__cost {
        .container-fluid {
            background: #ececec;
            padding: 30px 15px;

            p {
                font-size: 0.9rem;
                margin-bottom: 30px;
            }

            .btn-primary {
                width: 15%;

                @include media-breakpoint-down(sm) {
                    width: auto;
                }
            }
        }
    }

    &__office {
        p {
            font-size: 0.9rem;
        }
    }

    &__team {
        img {
            height: auto;
            @include media-breakpoint-down(sm) {
                max-width: 100%;
            }
        }
        h5 {
            font-size: 0.8rem;
            font-weight: bold;
            margin: 10px 0 0;

            + span {
                font-size: 0.8rem;
            }
        }
        .row {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            align-content: space-evenly;
            @include media-breakpoint-down(sm) {
                padding: 0 15px;
            }

            div {
                @include media-breakpoint-up(sm) {
                    max-width: 20%;
                    width: 20%;
                }
            }
        }
    }
}
