.home {
    &__hero {
        &__banner {
            background: url('/static/brochure/HomepageHero.jpg') bottom;
            background-size: cover;
            height: 420px;
            display: flex;
            justify-items: center;
            justify-content: center;
            padding: 4rem 4rem 6rem 4rem;
        }
    }
}

.home__search {
    background: #ffffff;
    height: 80px;
    max-width: 480px;
    min-width: 480px;
    box-shadow: $box-shadow-sm;
    border-radius: 5px;
    margin-top: auto;
    .search__input {
        height: 100%;
    }

    .search__input input {
        padding: 0.5rem;
        border: none;
        height: 100%;
        font-size: 1.5em;
        width: 100%;
    }
}
