.home {
    &__hero {
        &__banner {
            background: url('/static/brochure/Home_Bg.jpg') center;
            background-size: cover;
            height: 420px;
            display: flex;
            justify-items: center;
            justify-content: center;
            padding: 4rem 4rem 6rem 4rem;
            position: relative;
        }
    }

    &__search {
        background: $color-background-secondary;
        max-width: 480px;
        min-width: 480px;
        box-shadow: $box-shadow-sm;
        border-radius: 5px;
        margin-top: auto;
        padding: 20px;
        position: absolute;
        bottom: -25px;

        @include media-breakpoint-down(sm) {
            max-width: 95%;
            min-width: 95%;
        }

        h2 {
            font-size: 0.8rem;
            font-weight: bold;
        }

        .search__input {
            height: 100%;
            color: $color-black;

            input {
                background: #f3f4f5;
                border: 1px solid #f1f1f1;
                border-radius: $border-radius;
                font-size: 0.8em;
                height: 100%;
                padding: 0.5rem 0.5rem 0.5rem 1.7rem;
                width: 100%;
            }
            svg {
                left: 5px;
                right: auto;

                path {
                    fill: $color-black !important;
                }
                &.loading-icon {
                    right: 5px !important;
                    left: auto !important;
                }
            }
        }

        .search__results {
            border-radius: $border-radius;
            border-color: $color-text-blue;

            @include media-breakpoint-up(sm) {
                top: 100px;
                width: 100%;
                z-index: 1;
            }
            @include media-breakpoint-down(md) {
                margin-left: 0;
                left: 0;
                top: 100px;
                width: 100%;
                z-index: 1;
            }

            &__category {
                &__header {
                    background: $color-text-blue;
                    color: $color-text-white;
                }
            }

            &__item__cta {
                span {
                    background: $color-text-blue;
                    border: $border-none;
                    border-radius: $border-radius;
                    color: $color-text-white;
                }
            }
        }
    }
}

.callout {
    &__categories {
        background: #f5f6f7;
        padding: 80px 0 50px;

        .row {
            align-content: center;
            justify-content: center;

            @include media-breakpoint-down(sm) {
                flex-wrap: wrap;
            }

            .__category {
                display: flex;
                flex-direction: column;
                text-align: center;
                h3 {
                    font-size: 1rem;
                    font-weight: bold;
                    text-align: center;
                }
                .icon {
                    flex: 1;
                    box-shadow: $box-shadow-sm;
                    padding: 1rem;
                    text-align: center;
                    margin: 0 0 0.5rem 0;
                }
                img {
                    max-width: 90%;
                    margin: 0 auto;
                }
                a {
                    color: $color-text-blue;
                    text-align: center;
                }
            }
        }

        .navigation {
            display: flex;
            justify-content: space-between;
            position: relative;
            width: 100%;

            button {
                background: $color-text-white;
                border: 1px solid $color-text-white;
                box-shadow: $shadow-subtle;
                border-radius: 50px;
                color: $color-text-blue;
                font-size: 1.5rem;
                padding: 10px 20px;
                text-align: left;
                top: 50%;

                &__prev {
                }
                &__next {
                }
            }
        }

        .alice-carousel {
            &__prev-btn,
            &__next-btn {
                background: $color-text-white;
                border: 1px solid $color-text-white;
                box-shadow: $shadow-subtle;
                border-radius: 50px;
                color: $color-text-blue;
                font-size: 1.5rem;
                padding: 0px 25px 0px 10px;
                position: absolute;
                text-align: left;
                top: 25%;
                max-width: 25px;
                width: 25px;
                max-height: 37px;
                height: 37px;

                p {
                    padding: 0;
                    margin: 0;
                }
            }
            &__prev-btn {
                left: -20px;

                [data-area]::after {
                    content: '<' !important;
                    font-size: 2rem;
                    line-height: 1px;
                }
            }
            &__next-btn {
                right: -25px;

                [data-area]::after {
                    content: '>' !important;
                    font-size: 2rem;
                    line-height: 1px;
                }
            }

            &__stage-item {
                background: $color-text-white;
                border-right: 1px solid #fcfcfc;
                border-radius: $border-radius;

                h3 {
                    font-size: 1.4rem;
                    text-align: center;
                    color: $color-text-blue;
                }

                .cta {
                    color: $color-text-blue;
                    display: block;
                    font-size: 1.2rem;
                    margin-top: 20px;
                }
            }
        }
    }

    &__brands {
        background: #ececec;
        margin-bottom: 40px;
        padding: 50px 0;

        .row,
        .row + div {
            justify-content: center;

            .brand {
                flex: 2 0 15%;
            }

            a {
                display: block;
                padding: 0;
                margin: 0 10px;

                &.btn-primary {
                    color: $color-text-white;
                    padding: 10px;
                    margin-bottom: 20px;
                    span {
                        display: inline-block;
                        padding-right: 10px;
                    }
                }
                img {
                }
            }
        }
    }

    &__shop {
        margin-top: 40px;
        margin-bottom: 40px;

        .btn {
            max-width: 150px;
        }
    }

    &__info {
        margin-top: 40px;
        margin-bottom: 40px;

        h3 {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

    &__testimonials {
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 40px 0;

        h4 {
            margin-bottom: 20px;
            text-align: center;
        }

        .author {
            font-size: 0.9rem;
            font-weight: bold;
        }
    }

    &__media {
        padding: 40px 0;
    }
}
