// Colors
$color-background-primary: #f2f2f2;
$color-background-secondary: #fff;
$color-section-bottom-border: #ccc;

$color-sidebar-background-primary: #494e51;
$color-sidebar-background-secondary: #5f686e;
$color-sidebar-background-secondary-dark: #353c3e;

$color-text-white: #fff;
$color-black: #000;

$color-blue: #3786a1;
$color-error: #ac0000;

$color-lightgrey: #F6F6F7;
$color-grey: #CED4D9;
$color-darkgrey: #535D63;
$color-darkergrey: #484D50;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #8d9599;
$text-color-dark: darken($text-color, 25);

// Nav
$nav-height: 75px;
$footer-height: 50px;

// Breakpoints
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-extra-large: 1200px;

// Filter Page
$sidebar-filters-width: 250px;
$sortbar-height: 50px;
$filterbar-height: 45px;
$compare-bar-height: 60px;
