// Colors
$color-background-primary: #f2f2f2;
$color-background-secondary: #fff;
$color-section-bottom-border: #ccc;

$color-sidebar-background-primary: #494e51;
$color-sidebar-background-secondary: #5f686e;
$color-sidebar-background-secondary-dark: #353c3e;

$color-text-white: #fff;

$color-button-secondary: #4d92df;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #8d9599;

// Nav
$nav-height: 75px;
$footer-height: 50px;

// Breakpoints
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-extra-large: 1200px;
