// Variables
@import 'variables';

// Font
html {
  font-size: $font-size-base;
}

body {
  color: $text-color;
  font-family: 'Open Sans', serif;
  line-height: $line-height-base;
}

// Overall layout
@import 'layout';
@import 'components/footer';

// Normal Components
@import 'components/section';
@import 'components/nav';
@import 'components/triplets';
@import 'components/welcome-style-selector';
@import 'components/welcome-steps';
@import 'components/make-selector';
@import 'components/modal';
@import 'components/sortbar';
@import 'components/filterbar';
@import 'components/deals';
@import 'components/apply-or-purchase';
@import 'components/application-form';
@import 'components/zipcode-finder';
@import 'components/sidebar-filters';
@import 'components/filter-style-selector';
@import 'components/filter-selector';
@import 'components/deal-details';
@import 'components/compare-deal';
@import 'components/compare-bar';
@import 'components/compare-bubble';
@import 'components/compare-page-title-bar';
@import 'components/compare-lease';
@import 'components/compare-page-deals';
@import 'components/tabs';
@import 'components/range-slider';

// Pages
@import 'pages/filter-page';
@import 'pages/financing';
@import 'pages/compare-page';
@import 'pages/login';
@import 'pages/register';
@import 'pages/password-reset';
@import 'pages/view-apply';
