// Variables
@import 'variables';

// Font
body {
  color: $text-color;
  font-family: 'Open Sans', serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

// Overall layout
@import 'layout';
@import 'components/footer';

// Normal Components
@import 'components/saved-vehicle';
@import 'components/nav';
@import 'components/triplet';

// Step Components
@import 'components/steps/step-0';
@import 'components/steps/step-1';
@import 'components/steps/step-2';
@import 'components/steps/step-3';
