.hidden {
  display: none;
}

.inner {
  max-width: 75%;
  margin: 0 auto;
  width: 100%;

  @media (min-width: $break-large) {
    max-width: $break-large;
  }
}

.link {
    cursor: pointer;
}

input.fancyNumberEntry {
  width: 5rem;
  text-align: right;
  font-size: inherit;
  font-weight: inherit;
}
input.fancyNumberEntry::-webkit-inner-spin-button, input.fancyNumberEntry::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance:textfield !important;
}