@import './variables';

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.section {
  border-bottom: 1px solid $color-section-bottom-border;
  $section-padding: 50px;

  display: flex;
  flex-wrap: wrap;
  padding: $section-padding;

  &__title {
    font-size: 2rem;
    text-align: center;
    width: 100%;

    &--small {
      font-size: 1.2rem;
      padding: 15px;
    }

    &--medium {
      font-size: 1.5rem;
      padding: 15px;
    }
  }

  &--stretch {
    min-height: calc(100vh - #{$nav-height} - #{$footer-height} - #{$section-padding * 2});
  }

  &:nth-child(even) {
    background-color: $color-background-primary;
  }

  &:nth-child(odd) {
    background-color: $color-background-secondary;
  }
}
