.breadcrumb {
    background: transparent;
    border-bottom: 1px solid $primary;
    border-radius: 0;
    padding: 0.25rem 0;
    margin: 0;
}

.app-header-wrapper {
    width: 100%;
}

.navbar {
    background-color: #fff;
    border-bottom: 2px solid $primary;
    padding: 0 0.5rem 0 0.1rem;
    box-shadow: $box-shadow-sm;
    position: fixed;
    width: 100%;

    z-index: 50;

    @include media-breakpoint-up(md) {
        padding: 0 1.5rem 0 1rem;
    }
    .navbar-brand {
        @include media-breakpoint-down(md) {
            align-items: center;
            display: flex;
        }

        img {
            max-width: 140px;
            @include media-breakpoint-up(md) {
                max-width: 175px;
            }
            @include media-breakpoint-up(lg) {
                max-width: unset;
                height: 55px;
            }
        }
    }
}

.navbar-text {
    display: inline-flex;
    .header-widget:first-child {
        border-left: 0;
    }
    .header-widget:last-child {
        padding-right: 0;
    }
}

.header-widget {
    display: inline-flex;
    border-left: 2px solid #ccc;
    flex-direction: row;
    align-items: center;
    font-size: 0.85rem;
    cursor: pointer;
    padding: 0 0.5rem;

    @include media-breakpoint-up(lg) {
        padding: 0 1rem;
    }

    > a {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    .label {
        font-weight: bold;
    }
    .value {
        font-weight: 300;
    }
    .icon {
        width: 20px;
        height: 20px;
        @include media-breakpoint-up(lg) {
            margin-left: 1rem;
        }
    }
    &.phone-number {
        .icon {
            margin: 0 auto;
        }
    }
}

.header-widget.chat-button {
    .btn {
        color: #fff !important;
        padding: 0.25rem 0.5rem;
        font-size: 0.85rem;
    }
    svg {
        width: 20px;
        height: 20px;
        fill: #fff;

        @include media-breakpoint-up(lg) {
            margin-left: 0.5rem;
        }
    }
}

.user-location-modal {
    .modal-body {
        text-align: center;
        padding: 3rem 3rem 1rem 3rem;
        @include media-breakpoint-up(xl) {
            width: 600px;
        }
    }

    h4 {
        margin: 0;
    }

    .btn {
        padding: 0.375rem 3rem;
        @include media-breakpoint-down(md) {
            display: block;
            width: 100%;
        }
    }
}
.user-contact-modal {
    .modal-body {
        @include media-breakpoint-up(sm) {
            width: 600px;
        }

        svg {
            color: #fff;
            fill: currentColor;
            display: block;
            margin: 0 auto;
            max-width: 35%;
        }
        .col {
            &:nth-of-type(1) {
                @include media-breakpoint-down(sm) {
                    margin-bottom: 15px;
                }
            }
            &:nth-of-type(2) {
                border-left: 1px solid #ccc;
                @media screen and (max-width: $break-extra-small) {
                    border-left: 0 none;
                }
            }
        }
    }
}
.modal-widget {
    &.chat-button {
        text-align: center;

        .btn {
            @media screen and (max-width: $break-extra-small) {
                max-width: 127px;
            }
        }
    }
}

.location-input {
    display: flex;
    padding: 1.5rem;
    margin: 3rem 0;
    background: #f7f7f7;
    border-radius: 4px;
    text-align: left;
    align-items: center;
    box-shadow: $box-shadow;

    .icon {
        margin-right: 0.5rem;
        svg {
            width: 60px;
            height: 60px;
            color: $primary;
        }
    }
    .form-group {
        margin-bottom: 0;
    }

    .location-content {
        flex: 1;
    }
}

.icon {
    .compare-count {
        background: $primary;
        border-radius: 27px;
        padding: 4px 9px;
        font-weight: bold;
        color: #fff;
        font-size: 0.8rem;
    }
}

.compare-widget.disabled {
    cursor: default;
    .compare-count {
        background: $gray-400;
        color: $text-color;
    }
}

.compare-widget {
    .icon {
        width: auto;
    }
    .dropdown-menu {
        padding: 0;
        margin: 0;
        border: 1px solid $primary;
        box-shadow: $box-shadow-sm;

        &.show {
            left: auto !important;
            right: -113px !important;
            @include media-breakpoint-up(md) {
                right: 0 !important;
            }
        }

        .dropdown-footer-cta {
            background: $primary;
            border: 0;
            color: #fff;
            text-align: center;
            cursor: pointer;
        }
    }
    .compare-deal-summary {
        position: relative;
        padding: 0.25rem 0.25rem;
        border-bottom: 1px solid #eee;
        width: 260px;
        cursor: default;
        display: flex;
        .thumbnail {
            width: 60px;
            img {
                width: 60px;
            }
        }
        .deal-title {
            padding-left: 10px;
            overflow: hidden;
        }
        .deal__basic-info-model-and-series {
            font-size: 0.9rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .compare-deal-remove {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0.25rem;
            fill: $text-color;
            width: 16px;
            cursor: pointer;
        }
    }
    a {
        color: #fff;
    }
}

.header-widget.phone-number {
    cursor: default;
    font-weight: bold;
}

.search {
    margin: 0 0.5rem 0 auto;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &__input {
        position: relative;

        input {
            border-radius: 12px;
            padding: 0.1rem 2rem 0.1rem 1rem;
            border: 1px solid $primary;
            width: 125px;
            @include media-breakpoint-up(md) {
                padding: 0.25rem 2rem 0.25rem 1rem;
                border: 2px solid $primary;
                width: 150px;
            }
            @include media-breakpoint-up(xl) {
                width: 300px;
            }

            &:focus {
                border: 0 none;
                border-bottom: 1px solid #41b1ac;
                border-radius: 0;
                outline: none;
            }
        }
        svg {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 5px;
            right: 10px;

            @include media-breakpoint-up(md) {
                top: 9px;
            }
            path {
                fill: $primary;
            }
        }
    }
    &__results {
        width: 280px;
        position: absolute;
        padding: 0;
        top: 52px;
        left: 0;
        background: #fff;
        // box-shadow: $box-shadow-sm;
        box-shadow: #555 1px 2px 5px;
        border: 1px solid $primary;
        border-radius: 4px;
        font-size: 0.85rem;
        @include media-breakpoint-down(md) {
            left: -94%;
            width: 350px;
        }
        @include media-breakpoint-down(sm) {
            top: 42px;
            left: -10px;
            margin-left: -175px;
        }
        &__category {
            &__header {
                background: $color-lighter-blue;
                color: $color-darkergrey;
                padding: 0.25rem;
                font-weight: bold;
            }
        }
        &__item {
            display: flex;
            &:hover {
                background: $color-background-primary;
                transition: background $transition-standard;
            }
            &__icon {
                display: flex;
                min-width: 40px;
                max-width: 40px;
                max-height: 40px;
                align-items: center;
                align-content: center;
                img {
                    max-width: 40px;
                    max-height: 40px;
                }
                svg {
                    max-width: 40px;
                    max-height: 40px;
                }
            }
            &__title {
                flex: 1 1 auto;
                padding: 0 1rem;
                margin-bottom: 0.25rem;
                &__label {
                    font-weight: bold;
                }
                &__count {
                    font-size: 0.75rem;
                }
            }
            &__cta {
                display: flex;
                align-items: center;
                justify-content: center;
                .btn {
                    font-size: 0.6rem;
                }
            }
        }
        ul {
            list-style: none;
            margin-bottom: 0;
            padding: 0.25rem;
            li {
                padding: 0.1rem;
                cursor: pointer;
                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }
}
