.deal {
    &__row {
        &.deal__row {
            margin-top: 50px;
        }
        @include media-breakpoint-down(sm) {
            & > .col-md-6 {
                margin-top: 50px;
            }
        }
    }

    &__basic-info {
        margin-bottom: 0.5rem;
    }

    &__basic-info-year-and-model {
        cursor: pointer;
        display: inline-block;
        font-size: 1.1rem;
        line-height: 1.3rem;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }

    &__basic-info-year-and-make {
        color: $color-darkergrey;
        font-size: x-small;

        @include media-breakpoint-up(sm) {
            font-size: small;
        }
    }

    &__basic-info-model-and-series {
        color: $color-darkestgrey;
        font-size: 1rem;
        @include media-breakpoint-up(sm) {
            font-size: 1.25rem;
        }
    }

    &__basic-info-color {
        color: $color-darkergrey;
        font-size: x-small;
        margin-top: 2px;
        @include media-breakpoint-up(sm) {
            font-size: small;
        }
    }

    &__basic-info-msrp {
        color: $text-color-dark;
        display: block;
        font-size: 1.15rem;
    }

    &__image {
        border-bottom: 0;
        display: block;
        width: 100%;
        object-fit: cover;

        &--fallback {
            padding: 25px;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-around;
        margin: 5px 0 0 0;
        > .btn {
            flex: 1;
            &:first-child {
                margin-right: 5px;
            }
            &:last-child {
                margin-left: 5px;
            }
        }
    }

    &__faq__list {
        margin: 0;
        padding-left: 0;

        .col {
            border-bottom: 1px solid $color-darkgrey;
            padding-left: 0;
            margin-bottom: 0;

            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 0;

                &:hover {
                    cursor: pointer;
                }
            }
            .content {
                padding-bottom: 15px;
            }
        }
    }

    &__contact {
        input[type='text'],
        textarea,
        input[type='email'],
        input[type='tel'],
        select {
            background-color: transparent;
            border-top: 0 none;
            border-left: 0 none;
            border-right: 0 none;
            border-bottom: 1px solid $color-grey;
            border-radius: 0;
            color: $color-black;

            &::placeholder {
                color: $color-darkgrey;
            }

            &:active,
            &:focus {
                background-color: transparent;
            }
        }
        textarea {
            height: 44px;
        }

        button[type='submit'] {
            margin-top: 20px;
            width: 100%;
        }

        &__phone {
            margin-top: 20px;
            width: 100%;
        }
    }

    &__promise {
        @include media-breakpoint-down(sm) {
            margin: 0 auto;
            width: 95%;
        }
        h2 {
            margin-bottom: 20px;

            &:after {
                border-bottom: 2px solid $color-darkgrey;
                content: '';
                display: block;
                height: 5px;
                margin: 0 auto;
                width: 10%;
            }
        }

        &__columns {
            border: 1px solid $color-darkgrey;
            padding: 30px;

            @include media-breakpoint-down(sm) {
                .col-md-4 + .col-md-4 {
                    margin: 20px 0;
                }
            }

            @include media-breakpoint-up(sm) {
                .col-md-1 {
                    max-width: 45px;
                    padding-right: 5px;
                }
            }

            img {
                max-width: 40px;
                max-height: 40px;
                @include media-breakpoint-down(sm) {
                    margin-right: 10px;
                }
            }

            h5 {
                font-size: 1.2rem;
            }
        }
    }
}

.thumbnail-container {
    img {
        max-width: 100%;
    }
}

// New deal detail header
.deal-details__new-header {
    &.title-year-make {
        font-size: 1.6rem;
        font-weight: 700;
    }

    &.title-model-trim {
        font-size: 1.3rem;
        font-weight: 400;
    }

    &.payment {
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: 5px;

        .monthly {
            font-size: 2.5rem;
            line-height: 1;

            sub {
                bottom: 0;
                font-size: 50%;
            }
        }

        .configure {
            color: $color-darkgrey;

            svg {
                margin-right: 5px;
            }
        }
    }
}

.deal-details__new-header {
    &.fixed {
        background: $color-background-secondary;
        z-index: 999;
        border-bottom: 1px solid $color-darkgrey;

        & > .row {
            background: $color-background-secondary;
        }

        .title-year-make {
            font-size: 1.6rem;
            font-weight: 700;
        }

        .title-model-trim {
            font-size: 1.3rem;
            font-weight: 400;
        }
        .payment {
            .monthly {
                font-size: 1rem;
                line-height: 1;

                sub {
                    bottom: 0;
                    font-size: 50%;
                }
            }
        }

        button {
            align-self: center;
        }
    }
}

.deal__highlights {
    .fixed {
        z-index: 999;
    }

    .highlights__make-model {
        background: #777;
        color: $color-text-white;

        h4 {
            align-self: center;
        }
    }

    .highlights__anchors {
        background: $color-darkestgrey;

        ul {
            li {
                a {
                    color: $color-text-white;
                }
            }
        }
    }
}
