.deal {
    &__basic-info {
        margin-bottom: 0.5rem;
    }

    &__basic-info-year-and-model {
        cursor: pointer;
        display: inline-block;
        font-size: 1.1rem;
        line-height: 1.3rem;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }

    &__basic-info-year-and-make {
        color: $color-darkergrey;
        font-size: x-small;

        @include media-breakpoint-up(sm) {
            font-size: small;
        }
    }

    &__basic-info-model-and-series {
        color: $color-darkestgrey;
        font-size: 1rem;
        @include media-breakpoint-up(sm) {
            font-size: 1.25rem;
        }
    }

    &__basic-info-color {
        color: $color-darkergrey;
        font-size: x-small;
        margin-top: 2px;
        @include media-breakpoint-up(sm) {
            font-size: small;
        }
    }

    &__basic-info-msrp {
        color: $text-color-dark;
        display: block;
        font-size: 1.15rem;
    }

    &__image {
        border-bottom: 0;
        display: block;
        width: 100%;
        object-fit: cover;

        &--fallback {
            padding: 25px;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-around;
        margin: 5px 0 0 0;
        > .btn {
            flex: 1;
            &:first-child {
                margin-right: 5px;
            }
            &:last-child {
                margin-left: 5px;
            }
        }
    }

    &__faq__list {
        margin: 0;
        padding-left: 0;

        .col {
            border-bottom: 1px solid $color-darkgrey;
            padding-left: 0;
            margin-bottom: 0;

            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 0;

                &:hover {
                    cursor: pointer;
                }
            }
            .content {
                padding-bottom: 15px;
            }
        }
    }

    &__contact {
        input[type='text'],
        textarea,
        input[type='email'],
        input[type='tel'],
        select {
            background-color: transparent;
            border-top: 0 none;
            border-left: 0 none;
            border-right: 0 none;
            border-bottom: 1px solid $color-grey;
            border-radius: 0;
            color: $color-black;

            &::placeholder {
                color: $color-darkgrey;
            }

            &:active,
            &:focus {
                background-color: transparent;
            }
        }
        textarea {
            height: 44px;
        }

        &__phone {
            margin-top: 20px;
            width: 100%;
        }
        &__cta {
            margin-top: 20px;
        }
    }
}

.thumbnail-container {
    img {
        max-width: 100%;
    }
}
