.deal {
    &__row {
        &.deal__row {
            margin-top: 50px;
        }

        @include media-breakpoint-down(sm) {
            & > .col-md-6 {
                margin-top: 50px;
            }
        }
    }

    &__basic-info {
        margin-bottom: 0.5rem;
    }

    &__basic-info-year-and-model {
        cursor: pointer;
        display: inline-block;
        font-size: 1.1rem;
        line-height: 1.3rem;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    &__basic-info-year-and-make {
        color: $color-darkergrey;
        font-size: x-small;

        @include media-breakpoint-up(sm) {
            font-size: small;
        }
    }

    &__basic-info-model-and-series {
        color: $color-darkestgrey;
        font-size: 1rem;
        @include media-breakpoint-up(sm) {
            font-size: 1.25rem;
        }
    }

    &__basic-info-color {
        color: $color-darkergrey;
        font-size: x-small;
        margin-top: 2px;
        @include media-breakpoint-up(sm) {
            font-size: small;
        }
    }

    &__basic-info-msrp {
        color: $text-color-dark;
        display: block;
        font-size: 1.15rem;
    }

    &__image {
        border-bottom: 0;
        display: block;
        width: 100%;
        object-fit: cover;

        &--fallback {
            padding: 25px;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-around;
        margin: 5px 0 0 0;

        > .btn {
            flex: 1;

            &:first-child {
                margin-right: 5px;
            }

            &:last-child {
                margin-left: 5px;
            }
        }
    }

    &__container-faq-contact {
        padding: 30px;

        .row {
            @include media-breakpoint-down(sm) {
                box-shadow: none !important;
            }
        }

        & > [class*='col-']:first-of-type {
            padding-right: 15px;

            @include media-breakpoint-down(sm) {
                padding-right: 0;
            }
        }

        div[class*='col-'] {
            padding: 30px;

            @include media-breakpoint-up(md) {
                box-shadow: none !important;
            }

            h5 {
                @include media-breakpoint-down(md) {
                    text-align: center;
                }
            }
        }

        @include media-breakpoint-down(sm) {
            .container-faq {
                margin-bottom: 3rem;
            }
        }

        .container-faq {
            @include media-breakpoint-up(sm) {
                border-radius: 5px 0 0 5px !important;
            }
        }
        .container-contact {
            @include media-breakpoint-up(sm) {
                border-radius: 0 5px 5px 0 !important;
            }
        }
    }

    &__faq__list {
        margin: 0;
        padding-left: 0;

        .col {
            border-bottom: 1px solid $color-darkgrey;
            padding-left: 0;
            margin-bottom: 0;

            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 0;

                &:hover {
                    cursor: pointer;
                }
            }

            .content {
                padding-bottom: 15px;
            }
        }
    }

    &__contact {
        input[type='text'],
        textarea,
        input[type='email'],
        input[type='tel'],
        select {
            background-color: transparent;
            border-top: 0 none;
            border-left: 0 none;
            border-right: 0 none;
            border-bottom: 1px solid $color-grey;
            border-radius: 0;
            color: $color-black;

            &::placeholder {
                color: $color-darkgrey;
            }

            &:active,
            &:focus {
                background-color: transparent;
            }
        }

        textarea {
            height: 44px;
        }

        button[type='submit'] {
            margin-top: 20px;
            width: 100%;
        }

        &__phone {
            margin-top: 20px;
            width: 100%;
        }
    }

    &__promise {
        &__columns {
            padding: 30px;

            @include media-breakpoint-down(sm) {
                .col-md-4 + .col-md-4 {
                    margin: 20px 0;
                }
            }

            @include media-breakpoint-up(sm) {
                .col-md-1 {
                    max-width: 45px;
                    padding-right: 5px;
                }
            }

            img {
                max-width: 40px;
                max-height: 40px;
                @include media-breakpoint-down(sm) {
                    margin-right: 10px;
                }
            }

            h5 {
                font-size: 1.2rem;
            }
        }
    }

    &__section-heading {
        h3 {
            margin-bottom: 10px;

            &:after {
                border-bottom: 2px solid $color-grey;
                content: '';
                display: block;
                height: 5px;
                margin: 0 auto;
                width: 10%;
            }
        }
    }

    &__section-overview {
        background: $color-darkestgrey;
        z-index: 9;

        .col {
            padding: 15px;

            h6 {
                color: $color-text-white;
                border-right: 1px solid $color-text-white;

                a {
                    color: $color-text-white;
                    display: block;

                    &:hover {
                        text-decoration: none;
                    }
                    &.active {
                        border-bottom: 1px solid $color-text-white;
                    }
                }
            }
        }
        &-highlights {
            background: $color-lightgrey;
            padding: 20px 0;
        }

        &-features-item {
            padding: 0.25rem 2rem;
            .icon {
                width: 100px;
                text-align: center;
                font-size: 2rem;
                > div {
                    height: 2rem;
                    width: 2rem;
                    border-radius: 1rem;
                    border: 2px solid $gray-500;
                    vertical-align: -0.125em;
                }
            }
            .content {
                font-size: 1rem;
                @include media-breakpoint-up(md) {
                    font-size: 1.2rem;
                }
            }
        }

        &-options {
            border-top: 1px solid $gray-300;
            padding: 0.5rem 0;
        }
        &-options-group-header {
            padding: 0.25rem 2rem;
            font-weight: bold;
        }
        &-options-item {
            padding: 0.25rem 2rem;
        }
    }

    .thumbnail-container {
        img {
            max-width: 100%;
        }
    }
}

.deal-details__new-header {
    &.title-year-make {
        font-size: 1.6rem;
        font-weight: 700;
        @include media-breakpoint-down(sm) {
            font-size: 1.2rem;
            float: left;
            padding-right: 10px;
        }
    }

    &.title-model-trim {
        font-size: 1.3rem;
        font-weight: 400;
        @include media-breakpoint-down(sm) {
            font-size: 1.2rem;
            float: left;
        }
    }

    &.payment {
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: 5px;

        .monthly {
            font-size: 2.5rem;
            line-height: 1;

            sub {
                bottom: 0;
                font-size: 50%;
            }
        }

        .configure {
            color: $color-darkgrey;

            svg {
                margin-right: 5px;
            }
        }
    }

    .payment {
        sup {
            top: -0.7em;
            font-size: 50%;
        }

        sub {
            bottom: 0.7em;
            font-size: 50%;
        }

        .dmr-price {
            font-size: 2rem;
            line-height: 1;
            padding-right: 20px;

            @include media-breakpoint-down(sm) {
                font-size: 1.2rem;
            }
        }

        &__monthly {
            font-size: 2rem;
            line-height: 1;

            @include media-breakpoint-down(sm) {
                font-size: 1.2rem;
            }
        }

        .tooltip {
            font-size: 0.9em;

            svg {
                width: 0.9em;
            }
        }
    }

    button {
        align-self: center;
        margin-left: auto;
    }

    &.stickied {
        background: $color-background-secondary;
        z-index: 999;
        border-bottom: 1px solid $color-darkgrey;
    }
}

.deal__highlights {
    .fixed {
        z-index: 999;
    }

    .highlights__make-model {
        background: $color-darkgrey;
        color: $color-text-white;
        padding: 20px 0;
        justify-items: center;

        h6 {
            align-self: center;
            line-height: 1.6;
            margin-bottom: 0;
            text-align: center;
        }
    }

    .highlights__anchors {
        background: $color-darkestgrey;
        padding: 20px;

        ul {
            padding-left: 0;
            max-width: 60%;

            li {
                a {
                    color: $color-text-white;
                    padding: 0 25px;
                }
            }
        }
    }
}

.deal-details {
    h2 {
        margin-bottom: 20px;

        &:after {
            border-bottom: 2px solid $color-grey;
            content: '';
            display: block;
            height: 5px;
            margin: 0 auto;
            width: 10%;
        }
    }

    &__container {
        & > .row {
            margin: 0;
            width: 100%;
        }
    }

    &__top-features {
        padding: 0 10px;

        .col-md-6 {
            padding: 20px 0;
        }

        &-icon {
            margin-right: 10px;
        }

        .deal-details__deal-content-color {
            margin-left: 0;
            width: 90%;
        }
    }

    &__specs {
        align-self: center;

        @include media-breakpoint-down(sm) {
            align-self: stretch;
        }

        & > .p-15 {
            padding: 15px;
        }

        span {
            text-transform: capitalize;
        }

        h5,
        svg {
            display: inline-block;
        }

        h5 {
            color: $color-darkestgrey;
            font-size: 1.1rem;
        }

        svg {
            color: $color-darkergrey;
            margin-right: 20px;
        }

        &-tabs {
            &-tab {
                background: $color-grey;
                color: $color-text-white;
                padding: 15px;
                text-transform: uppercase;
                font-size: 0.8rem;
                &:first-child {
                    border-top-left-radius: $border-radius;
                }
                &:last-child {
                    border-top-right-radius: $border-radius;
                }
                &.active {
                    background: $color-darkestgrey;
                }
            }
        }

        &-detail {
            > h5 {
                padding: 15px;
                font-size: 1rem;
                font-weight: 400;
            }
            > div {
                margin: 0 15px 15px 15px;
                border: 1px solid $gray-300;
            }

            &-item {
                border-bottom: 1px solid $gray-300;
                &:nth-child(even) {
                    background: #f6f6f6;
                }
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }
}

// Color swatches
.color {
    &__swatch-color {
        border: 3px solid $color-grey;
        border-radius: 50px;
        height: 20px;
        width: 20px;
    }

    &__swatch-name {
    }
}

.deal__misc {
    list-style: none;
    margin: 0;
    padding: 0;
    column-count: 2;
    @include media-breakpoint-up(md) {
        column-count: 4;
    }
    li {
        font-size: 0.85rem;
        @include media-breakpoint-up(md) {
            padding: 0 5px;
        }
        word-break: normal;
    }
}

// troubleshooting
// .container {
//     border: 1px solid red;

//     &>div{
//         border: 1px solid blue;
//     }
// }
