.finance {
    display: flex;
    flex-wrap: wrap;

    &__down-payment {
        @include input;
    }
}

.embed-responsive-financing {
    &::before {
        padding-top: 200%;
        @include media-breakpoint-up(sm) {
            padding-top: 100%;
        }
    }
}
