.app-content .alice-carousel {
    &__prev-btn,
    &__next-btn {
        background: $color-text-white;
        border: 1px solid $color-text-white;
        box-shadow: $shadow-subtle;
        border-radius: 50px;
        color: $color-text-blue;
        font-size: 1.5rem;
        padding: 0px 25px 0px 10px !important;
        position: absolute;
        text-align: left;
        top: 39%;
        max-width: 25px;
        width: 25px;
        max-height: 37px;
        height: 37px;

        @include media-breakpoint-down(md) {
            display: none;
        }

        p {
            padding: 0;
            margin: 0;
        }
    }

    &__prev-btn {
        left: -30px;

        [data-area]::after {
            content: '<' !important;
            font-size: 2rem;
            line-height: 1px;
        }
    }

    &__next-btn {
        right: -25px;

        [data-area]::after {
            content: '>' !important;
            font-size: 2rem;
            line-height: 1px;
        }
    }
}
