.page-hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: 0 -150px;
    position: relative;

    &::after {
        content: '';
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 1;
        background: #e2e2e2;
    }

    @include media-breakpoint-up(md) {
        min-height: 250px;
        margin-bottom: 50px;
    }
    @include media-breakpoint-down(sm) {
        min-height: 150px;
        margin-bottom: 50px;
        padding-bottom: 15px;
    }
    h1 {
        color: $gray-900;
        z-index: 2;
        font-size: 2.5rem;
        font-weight: 700;
    }
    h4 {
        color: $color-black;
        font-size: 1rem;
        z-index: 2;
    }

    a.btn {
        z-index: 2;
        @include media-breakpoint-up(md) {
            margin-top: 10px;
        }
    }
}
