.border-medium {
    border-color: #ced4d9 !important;
}

.bg-pattern {
    background: url('/static/brochure/Turquoise-Bg.png');
}

.cursor-pointer {
    cursor: pointer;
}

.shadow-sm {
    box-shadow: $box-shadow-sm;
}

.bg-focus {
    position: relative;
    z-index: 2;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}

.border-radius-0 {
    border-radius: 0;
}
